<footer id="footer">
    <a routerLink="/home" (click)="goHome()" class="backhome">
        <i class="glyphicon glyphicon-home"></i>
        <span class="">首页</span>

    </a>



    <a routerLink="/" (click)="goScan()" class="fenlei">
        <i class="glyphicon glyphicon-qrcode"></i>
        <span class="">商品分类</span>
    </a>


    <a  routerLink="/cartlist" (click)="goCart()" class="cart">
        <i class="glyphicon glyphicon-shopping-cart"> </i>
        <span class=" ">购物车({{this.util.getAllProductCount()}})</span>
    </a>



    <a class="" routerLink="/orders" (click)="goOrders()" class="my">
        <i class="glyphicon glyphicon-user"></i>
        <span class=" ">我的</span>
    </a>





</footer>